disease_type='WT_nonEBV'
delly_dir='[path]/germline/nonEBV_calls/delly/output'
sample_dir='[path]/germline/nonEBV_calls/delly/output'
manta_dir='[path]/germline/nonEBV_calls/manta/output'
gridss_dir='[path]/germline/nonEBV_calls/MineSV_calls/workding_dir/gridss_germline'
cnvnator_dir='[path]/SJCLOUD/variant_calls/CNVnator'
CT='WT'




